<html>
  <div
    style="
      font-family: Gramatika-Regular;
      width: 393px;
      height: 480px;
      padding: 10px;
      text-align: center;
    "
  >
    <img src="./lisa logo.png" style="width: 78px; height: 83px;"/>
    <p
      style="font-size: 24px; font-weight: 400; line-height: 28px; font-family: Gramatika-Bold;"
    >
      <b>Password Reset OTP,</b>
    </p>
    <hr />
    <p style="font-size: 16px; font-weight: 400; line-height: 20px; color: #515355;">
      Hi {{name}}!
    </p>
    <p style="font-size: 16px; font-weight: 400; line-height: 20px; color: #515355;">
      Office ipsum you must be muted. Uat management stakeholder optimize it.
      Without while problem more wheel.
    </p>
    <p
      style="
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        font-family: Gramatika-Bold;
        color: #515355;
      "
    >
      {{code}}
    </p>
    <button
      style="
        background-color: #ee3737;
        color: #ffffff;
        padding: 12px 20px 12px 20px;
        border-radius: 10px;
        width: 340px;
        height: 64px;
        border: 1px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        font-family: DM Sans;
      "
    >
        Password Reset OTP
    </button>
  </div>
</html>
