name: Build and Deploy to Dev

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.AWS_ECR_ROLE_ARN }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and Push (Dev Tag)
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REG }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPO }}
          IMAGE_TAG: dev-${{ github.run_number }}
        run: |
          # Use the variable defined above
          GIT_REV_COUNT=$(git rev-list --count HEAD)
          FULL_TAG="dev-$GIT_REV_COUNT"
          
          docker build -t $ECR_REPOSITORY .
          
          # Tag with the dev- prefix
          docker tag $ECR_REPOSITORY:latest $ECR_REGISTRY/$ECR_REPOSITORY:$FULL_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$FULL_TAG
